name: build-conda-leafcutter
on:
  push:
    branches:
      - workflows

jobs:
  bouild-upload-leafcutter:
    name: ${{ matrix.os }}-build
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - name: create environment with mamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.10"
          channels: conda-forge,bioconda,defaults
          channel-priority: true
          auto-activate-base: true
          activate-environment: boabuild
          mamba-version: "*"

      # - name: build r-leafcutter conda package
      #   shell: bash -el {0}
      #   run: |
      #     mamba install -y boa
      #     conda mambabuild conda_recipe

      # - name: push buid to anaconda
      #   shell: bash -el {0}
      #   run: |
      #     mamba install -y anaconda-client -c anaconda
      #     export ANACONDA_API_TOKEN=${{ secrets.ANACONDA_TOKEN }}
      #     anaconda upload --force --label ${{ github.ref_name }} /usr/share/miniconda/envs/boabuild/conda-bld/linux-64/*.tar.bz2

      # - name: set r-leafcutter label in env.yaml
      #   working-directory: docker
      #   run: |
      #     sed -i 's/r-leafcutter/oceansource\/label\/${{github.ref_name}}::r-leafcutter/g' env.yaml
      #     cat env.yaml

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v2

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v2

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and push
      #   uses: docker/build-push-action@v4
      #   with:
      #     context: docker
      #     push: true
      #     tags: oceansource/leafcutter:${{github.ref_name}}
      - name: setup nextflow
        uses: nf-core/setup-nextflow@v1.2.0

      # - name: run leafcutter pipeline
      #   run: |
      #     nextflow run nextflow/leafcutter-local-docker.nf
      #     cd test-outputs && ls -la

      - name: setup pytest-workflow
        run: |
          mamba install pytest-workflow

      - name: run test
        working-directory: tests
        run: |
          pytest --tag functional
